* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 22px;
}

body {
    height: 100vh;
    background-color: black;
    overflow: hidden;
    /* hiding overflow because we don't want to show the sroll bar */
}

span {
    background: url("https://cdn1.iconfinder.com/data/icons/christmas-flat-4/58/010_-_Heart-64.png");
    background-size: cover;
    height: 100px;
    width: 100px;
/* using absolute property to show the span element */
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(50%, -50%);
    animation: animate 6s linear;
    pointer-events: none;
}

/* this is for movement of the span in the whole body*/
@keyframes animate{
    0%{
        transform: translate(-50%, -50%);
        opacity:1;
/* thsi is responsible for changing color of the heart */
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity:0;
        filter: hue-rotate(720deg);
    }
}